apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: false
    url: http://clickhouse:8123
    jsonData:
      defaultDatabase: financial_fraud
      queryFormat: 'SQL'
    secureJsonData: {}